{% load static %}

    <!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="about group">
            <h2>Rubén</h2>
            <p>Full Stack web developer Jr.</p>
            <a href="{% url 'main:home' %}">Sobre mí</a>
        </div>
        <div class="hr"></div>
        <div class="info group">
            <h3>Más</h3>
            <ul>
                <li><a href="#skills">Habilidades</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#portfolio">Portafolio</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </div>
        <div class="hr"></div>
        <div class="follow group">
            <h3>Sígueme</h3>
            <ul>
                <li><a href="https:/www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>

        </div>
    </div>
    <div class="footer-copyright group">
        <p>La constancia debe ser la constante de todos los días</p>
    </div>
</footer>
