{% load static %}

 <!-- Encabezado-->

<header>
    <div class="nav-bar">
        <a href="{% url 'main:home' %}" class="logo">Rubén</a>
        <div class="navigation">
            <div class="nav-items">
                <div class="nav-close-btn"></div>
                <a href="{% url 'main:home' %}">Inicio</a>
                <a href="{% url 'main:home' %}">Sobre mí</a>
                <a href="#skills">Habilidades</a>
                <a href="#services">Servicios</a>
                <a href="#portfolio">Portafolio</a>
                <a href="{% url 'blog:contacto' %}">Contacto</a>
                <a href="{% url 'blog:index' %}">Blog</a>
            </div>
        </div>
        <div class="nav-menu-btn"></div>
    </div>
</header>