[Unit]
Description=Blog Gunicorn daemon
Requires=gunicorn-blog.socket
After=network.target

[Service]
EnvironmentFile=/home/blog/blog/production.conf
Type=notify
User=blog
Group=blog
RuntimeDirectory=gunicorn-blog
WorkingDirectory=/home/blog/blog
ExecStart=/home/blog/blog-venv/bin/gunicorn blog_portafolio.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=True

[Install]
WantedBy=multi-user.target