{% extends 'base.html' %}
{% load static %}
{% block titulo %} {{ post.titulo }} {% endblock %}

{% block contenido %}
<div class="contenedor">
    <br>
    <h1>Detalles del post</h1>
    <hr>
    <h2>Titulo: <span> <a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a></span></h2>
    <br>
    <h2>Autor: <span>{{ post.autor }}</span></h2>
    <br>
    <h2>Categoría: <span>{{ post.categoria }}</span></h2>
    <br>
    <h2>Fecha de Publicación: <span>{{ post.fecha_publicacion }}</span></h2>
    <br>
    <h2>ID: <span>{{ post.id }}</span></h2>
    <br>

    {% include "comentarios.html" %}

</div>


{% endblock %}