{% extends 'base.html' %}

{% load blog_tags %}
{% load static %}


{% block contenido %}
<!-- Titulo -->
<!-- Sección de nota principal -->
<section class="site-title">
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">
        <img src="{{ principal.categoria.imagen_referencial.url }}" alt="imagen-categoria">

        <div class="contenedor">

            <h3>{{ principal.categoria | upper }}</h3>
            <a href="{{ principal.get_absolute_url }}"><h1>{{ principal.titulo }}</h1></a>
            <button class="btn"><a href="{{ principal.get_absolute_url }}">Aprendamos Juntos...</a></button>
            <!-- Prueba liga al post
            <button class="btn"><a href="{% url 'blog:detalle_post' principal.slug %}">Aprendamos Juntos...</a></button> -->
        </div>
    </div>
</section>
<!-- Titulo -->



<!-- Sección carrusel -->

{% get_posts_mas_comentados 5 %}

<!-- Fin Sección carrusel -->


<!-- Contenido-------------------->

<section class="contenedor">
    <div class="site-content">
        <div class="posts">
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div class="post-image">
                    <div>
                        <img class="img" src="{{ post1.imagen_referencial.url }}" alt="post1">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{ post1.autor.nombre }}</span>
                        <span><i
                                class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post1.fecha_publicacion }}</span>
                        <span>{{ post1.comentario}}</span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="{{ post1.get_absolute_url }}">{{ post1.titulo }}</a>
                    <p>{{ post1.descripcion }}</p>
                    <a href="{{ post1.get_absolute_url }}">
                        <button class="btn post-btn">Leer más...&nbsp;<i class="fas fa-arrow-right"></i></button>
                    </a>
                    <hr>
                </div>

            </div>

            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div class="post-image">
                    <div>
                        <img class="img" src="{{ post2.imagen_referencial.url }}" alt="post2">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{ post2.autor.nombre }}</span>
                        <span><i
                                class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post2.fecha_publicacion }}</span>
                        <span>{{ post2.comentario }}</span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="{{ post2.get_absolute_url }}">{{ post2.titulo }}</a>
                    <p>{{ post2.descripcion }}</p>
                    <a href="{{ post2.get_absolute_url }}">
                        <button class="btn post-btn">Leer más...&nbsp;<i class="fas fa-arrow-right"></i></button>
                    </a>
                    <hr>
                </div>

            </div>

            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div class="post-image">
                    <div>
                        <img class="img" src="{{ post3.imagen_referencial.url }}" alt="post3">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{ post3.autor.nombre }}</span>
                        <span><i
                                class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post3.fecha_publicacion }}</span>
                        <span>{{ post3.comentario }}</span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="{{ post3.get_absolute_url }}">{{ post3.titulo }}</a>
                    <p>{{ post3.descripcion }}</p>
                    <a href="{{ post3.get_absolute_url }}">
                        <button class="btn post-btn">Leer más...&nbsp;<i class="fas fa-arrow-right"></i></button>
                    </a>
                    <hr>
                </div>

            </div>

            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div class="post-image">
                    <div>
                        <img class="img" src="{{ post4.imagen_referencial.url }}" alt="post4">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{ post4.autor.nombre }}</span>
                        <span><i
                                class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post4.fecha_publicacion }}</span>
                        <span>{{ post4.comentario }}</span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="{{ post4.get_absolute_url }}">{{ post4.titulo }}</a>
                    <p>{{ post4.descripcion }}</p>
                    <a href="{{ post4.get_absolute_url }}">
                        <button class="btn post-btn">Leer más...&nbsp;<i class="fas fa-arrow-right"></i></button>
                    </a>

                </div>

            </div>

            <!-- Paginacion
            <div class="pagination flex-row">
                <a href="#"><i class="fas fa-chevron-left"></i></a>
                <a href="#" class="pages">1</a>
                <a href="#" class="pages">2</a>
                <a href="#" class="pages">3</a>
                <a href="#"><i class="fas fa-chevron-right"></i></a>
            </div>
            Paginacion -->
        </div>

        {% include "aside.html" %}

    </div>
</section>

<!-- Contenido         -->

{% endblock  %}