{% load static %}
<!DOCTYPE html>


<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Portafolio {% endblock title %}</title>
    <link rel="canonical" href="{{ request.path }}">
    <link rel="shortcut icon" href="{% static 'imagen/logo.ico' %}" type="image/x-icon">
    
<!--    ARCHIVOS CSS -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<!--    Fin archivos CSS -->
</head>
<body>
<!--{% include 'main/partial/mensajes.html' %}-->

{% include 'main/partial/nav.html' %}

{% block content %}{% endblock %}

{% include 'main/partial/footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.min.js"></script>

    <script src="{% static 'js/principal.js' %}"></script>
</body>
</html>