{% extends 'main/base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}


<!-- Sección de contacto -->
    <section class="contact section" id="contact">
        <div class="container flex-center">
            <h1 class="section-title-01">Contáctame</h1>
            <h2 class="section-title-02">Contáctame</h2>
            <div class="content">
                <div class="contact-left">
                    <h2>Discutamos algunos proyectos</h2>
                    <ul class="contact-list">
                        <li>
                            <h3 class="item-title"><i class="fas fa-phone"></i> Teléfono</h3>
                            <span>341-32******</span>
                        </li>
                        <li>
                            <h3 class="item-title"><i class="fas fa-envelope"></i> Email</h3>
                            <span><a href="lcdorubenguerra@gmail.com">lcdorubenguerra@gmail.com</a></span>
                        </li>
                        <li>
                            <h3 class="item-title"><i class="fas fa-map-marker-alt"></i> Dirección</h3>
                            <span>Rosario, Santa Fe</span>
                        </li>
                    </ul>
                </div>

                <div class="contact-right">
                    <p>Siempre dispuesto a discutir el diseño <br><span>de productos de calidad</span></p>
                    <form action="/blog/contacto/" class="contact-form" method="POST">
                        {% csrf_token %}
                        <div class="first-row">
                            {{form.nombre}}
                        </div>
                        <div class="second-row">
                            {{form.correo}}
                            {{form.asunto}}
                        </div>
                        <div class="third-row">
                            {{form.mensaje}}
                        </div>
                        <button class="btn" type="submit">Enviar mensaje <i class="fas fa-paper-plane"></i> </button>
                    </form>
                </div>
            </div>


        </div>
    </section>

{% endblock %}