{% load static %}

<!-- Sección de contacto -->
    <section class="contact section" id="contact">
        <div class="container flex-center">
            <h1 class="section-title-01">Contáctame</h1>
            <h2 class="section-title-02">Contáctame</h2>
            <div class="content">
                <div class="contact-left">
                    <h2>Discutamos algunos proyectos</h2>
                    <ul class="contact-list">
                        <li>
                            <h3 class="item-title"><i class="fas fa-phone"></i> Teléfono</h3>
                            <span>341-3212575</span>
                        </li>
                        <li>
                            <h3 class="item-title"><i class="fas fa-envelope"></i> Email</h3>
                            <span><a href="lcdorubenguerra@gmail.com">lcdorubenguerra@gmail.com</a></span>
                        </li>
                        <li>
                            <h3 class="item-title"><i class="fas fa-map-marker-alt"></i> Dirección</h3>
                            <span>Rosario, Santa Fe</span>
                        </li>
                    </ul>
                </div>

                <div class="contact-right">
                    <p>Siempre dispuesto a discutir el diseño <br><span>de productos de calidad</span></p>
                    <form action="" class="contact-form">
                        <div class="first-row">
                            <input type="text" placeholder="Nombre">
                        </div>
                        <div class="second-row">
                            <input type="email" name="Email" placeholder="Email">
                            <input type="text" placeholder="Asunto">
                        </div>
                        <div class="third-row">
                            <textarea name="message" id="" rows="7" placeholder="Mensaje"></textarea>
                        </div>
                        <button class="btn" type="submit">Enviar mensaje <i class="fas fa-paper-plane"></i> </button>
                    </form>
                </div>
            </div>


        </div>
    </section>