{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<!-- Sección Inicio -->

<section class="home" id="home">
    <div class="home-container">
        <div class="media-icons">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://linkedin.com/in/rubenjguerra" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/rubenguerra" target="_blank"><i class="fab fa-github"></i></a>
            <!--<a href=""><i class="fab fa-whatsapp"></i></a>-->
        </div>
        <div class="info">
            <h2>Hola, soy Rubén</h2>
            <h3>{{yo.userprofile.titulo}}</h3>
            <p>Démosno la oportunidad de compartir conocimientos.</p>
            <a href="{% url 'blog:contacto' %}" class="btn">Contáctame <i class="fas fa-arrow-circle-right"></i></a>
        </div>
        <div class="home-img">
            <img src="{% static 'imagen/ruben_transparencia.png' %}" alt="imagen">
        </div>
    </div>


</section>

<!-- Sección Acerca de -->
<section class="about section" id="about">
    <div class="container flex-center">
        <h1 class="section-title-01">Acerca de mí</h1>
        <h2 class="section-title-02">Acerca de mí</h2>
        <div class="content flex-center">
            <div class="about-img">
                <img src="{% static 'imagen/rubenguerra.png' %}" alt="imagen2">
            </div>
            <div class="about-info">
                <div class="description">
                    <h3>Me llamo Rubén Guerra</h3>
                    <h4>En busca de nuevos <span>retos y desafíos</span> de aprendizaje.</h4>
                    <p>{{yo.userprofile.bio}}</p>
                </div>
                <ul class="professional-list">
                    <li class="list-item">
                        <h3>+15</h3>
                        <span>Años de <br>Experiencia en el área editorial.</span>
                    </li>
                    <li class="list-item">
                        <h3>+5</h3>
                        <span>Años de experiencia <br> en el Diseño Gráfico</span>
                    </li>
                    <li class="list-item">
                        <h3>+5</h3>
                        <span>Años como corrector de <br> contenidos</span>
                    </li>
                </ul>
                <a download href="{{yo.userprofile.cv.url}}" class="btn">Bajar CV <i class="fas fa-download"></i> </a>

            </div>
        </div>
    </div>
</section>

<!-- Sección de habilidades -->
<section class="skills section" id="skills">
    <div class="container flex-center">
        <h1 class="section-title-01">Habilidades</h1>
        <h2 class="section-title-02">Habilidades</h2>
        <div class="content">
            <div class="skills-description">
                <h3>Formación académica y destrezas</h3>
                <p>Graduado en ciencias de la educación y la enseñanza de la lingüística, luego de retirarme de mi
                    trabajo, me dediqué a poner en práctica y ampliar mis conocimientos de informática y programación, e
                    incursionar en el área del diseño web y la inteligencia artificial.</p>
            </div>
            <div class="skills-info education-all">
                <div class="education">
                    <h4><label>Educación</label></h4>
                    <ul class="edu-list">
                        <li class="item">
                            <span class="year">2015-2018</span>
                            <p><span>Ph.D</span> en ciencias de la educación. (No conluido).</p>
                        </li>
                        <li class="item">
                            <span class="year">2010-2014</span>
                            <p><span>Magister</span> en enseñanza del castellano y la lingüística.</p>
                        </li>
                        <li class="item">
                            <span class="year">2004-2008</span>
                            <p><span>Licenciado</span> en enseñanza del castellano y la literatura.</p>
                        </li>
                        <li class="item">
                            <span class="year">1997-2000</span>
                            <p><span>Técnico</span> en informática.</p>
                        </li>
                    </ul>
                </div>
                <div class="education">
                    <h4><label>Habilidades</label></h4>
                    <ul class="bars">
                        {% for h in habilidades %}
                        {% if h.is_key_skill %}
                        <li class="bar">
                            <div class="info">
                                <span>{{ h.nombre }}</span>
                                <span>{{ h.score }}</span>
                            </div>
                            <div class="line html"></div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="education">
                    <h4><label>Intereses</label></h4>
                    <ul class="edu-list">
                        <li class="item">
                            <span class="year">Desarrollo WEB</span>
                            <p>Aún hay muchas cosas que hacer en este campo, como ampliar su área de acción por medio de
                                la <span>Inteligencia Artificial.</span></p>
                        </li>
                        <li class="item">
                            <span class="year">Inteligencia Artificial</span>
                            <p>Aprender cada día más sobre el campo de la <span>IA</span> que moldeará el futuro
                                inmediato.</p>
                        </li>
                        <li class="item">
                            <span class="year">Análisis de datos</span>
                            <p>Los datos son <span>la energía de nuestro presente</span> y debemos estar preparados para
                                usarlos.</p>
                        </li>
                        <li class="item">
                            <span class="year">Modelos Deep Learning</span>
                            <p>El uso del Deep learning <span>en medicina</span> es un campo de desarrollo fascinante.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="skills-description">
                <h3>Experiencia laboral</h3>
            </div>
            <div class="skills-info">
                <div class="experience-card">
                    <div class="carta-contenedor">
                        <div class="card">
                            <div class="content">
                                <h3>Jefe editor</h3>
                                <div class="hr"></div>
                                <h5>Delegado de Publicaciones</h5>
                                <span>2008-2018</span>
                                <h4><label>UDO-Sucre, Venezuela</label></h4>
                                <div class="hr"></div>
                                <p>Encargado de la publicación y diseño de material bibliográfico de la Universidad de
                                    Oriente,
                                    Núcleo de Sucre.</p>
                                <div class="hr"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="experience-card">
                    <div class="carta-contenedor">
                        <div class="card">
                            <div class="content">
                                <h3>Profesor</h3>
                                <div class="hr"></div>
                                <h5>Profesor de castellano y literatura</h5>
                                <span>2008-2009</span>
                                <h4><label>Liceo "Caigüire", Venezuela</label></h4>
                                <div class="hr"></div>
                                <p>Profesor de aula de los últimos años de educacion secundaria, en el área de
                                    castellano y
                                    literatura.</p>
                                <div class="hr"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="experience-card">
                    <div class="carta-contenedor">
                        <div class="card">
                            <div class="content">
                                <h3>Diagramador</h3>
                                <div class="hr"></div>
                                <h5>Diseño y diagramación</h5>
                                <span>1995-2008</span>
                                <h4><label>UDO-Sucre, Venezuela</label></h4>
                                <div class="hr"></div>
                                <p>Diseñador y diagramador de contenido de material bibliográfico producido por la
                                    Universidad.
                                </p>
                                <div class="hr"></div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</section>

<!-- Sección Servicios -->

<section class="services section" id="services">
    <div class="container flex-center">
        <h1 class="section-title-01">Servicios</h1>
        <h2 class="section-title-02">Servicios</h2>
        <div class="content">
            <div class="services-description">
                <h3>¿Qué podemos hacer?</h3>
            </div>
            <ul class="service-list">
                <li class="service-container">
                    <div class="service-card">
                        <i class="fas fa-pencil-ruler"></i>
                        <h3>Diseños UI/UX</h3>
                        <div class="learn-more-btn">¿Qué es? <i class="fas fa-long-arrow-alt-right"></i></div>
                    </div>
                    <div class="service-modal flex-center">
                        <div class="service-modal-body">
                            <i class="fas fa-times modal-close-btn"></i>
                            <h3>Diseños UI/UX</h3>
                            <h4>¿Para qué sirven?</h4>
                            <p>Los diseños de interfaces con mejores desempeños van a permitir proveer al sistema de
                                mucha
                                información acerca de los intereses de cada uno de los usuarios, y por ende, de mejores
                                herramientas de desarrollo.</p>
                            <h4>¿Qué implica?</h4>
                            <ul>
                                <li><i class="fas fa-check-circle"></i> Mejores métodos de comunicación.</li>
                                <li><i class="fas fa-check-circle"></i> Mejor sistema de recopilación de información.
                                </li>
                                <li><i class="fas fa-check-circle"></i> Análisis de necesidades.</li>
                                <li><i class="fas fa-check-circle"></i> Ahorro de recursos.</li>

                            </ul>
                        </div>
                    </div>
                </li>


                <li class="service-container">
                    <div class="service-card">
                        <i class="fas fa-photo-video"></i>
                        <h3>Branding & desing</h3>
                        <div class="learn-more-btn">¿Qué es? <i class="fas fa-long-arrow-alt-right"></i></div>
                    </div>
                    <div class="service-modal flex-center">
                        <div class="service-modal-body">
                            <i class="fas fa-times modal-close-btn"></i>
                            <h3>Marcas & diseños</h3>
                            <h4>¿Qué es?</h4>
                            <p>Puede ser definida como una de las prácticas más importantes en el mundo del mercadeo
                                por medio de la creación del nombre, logo, diseño y elementos simbólicos relacionados
                                con la identidad distintiva de una empresa y sus productos.</p>
                            <h4>¿Qué podemos hacer?</h4>
                            <ul>
                                <li><i class="fas fa-check-circle"></i> Diseño de logos.</li>
                                <li><i class="fas fa-check-circle"></i> Diseño de emblemas.</li>
                                <li><i class="fas fa-check-circle"></i> Paquetes visuales de identidad.</li>
                                <li><i class="fas fa-check-circle"></i> Tarjetas de negocios y sistemas.</li>

                            </ul>
                        </div>
                    </div>
                </li>


                <li class="service-container">
                    <div class="service-card">
                        <i class="fas fa-file-code"></i>
                        <h3>Desarrollo WEB</h3>
                        <div class="learn-more-btn">¿Qué es? <i class="fas fa-long-arrow-alt-right"></i></div>
                    </div>
                    <div class="service-modal flex-center">
                        <div class="service-modal-body">
                            <i class="fas fa-times modal-close-btn"></i>
                            <h3>Full Stack Development</h3>
                            <h4>¿Qué es Full Stack Development?</h4>
                            <p>Los servicios de un full stack development están dirigidos a diseñar, construir, mantener
                                y administrar todo aquello que esté relacionado con el software de una página web.</p>
                            <h4>¿Qué implica?</h4>
                            <ul>
                                <li><i class="fas fa-check-circle"></i> Desarrollo de aplicaciones web.</li>
                                <li><i class="fas fa-check-circle"></i> Testing.</li>
                                <li><i class="fas fa-check-circle"></i> Mantenimiento.</li>

                            </ul>
                        </div>
                    </div>
                </li>


                <li class="service-container">
                    <div class="service-card">
                        <i class="fas fa-align-left"></i>
                        <h3>Escritor de contenido</h3>
                        <div class="learn-more-btn">¿Qué es? <i class="fas fa-long-arrow-alt-right"></i></div>
                    </div>
                    <div class="service-modal flex-center">
                        <div class="service-modal-body">
                            <i class="fas fa-times modal-close-btn"></i>
                            <h3>Escritor de contenido</h3>
                            <h4>¿Qué es un Escritor de contenido?</h4>
                            <p>Planea, escribe y edita contenido web, casi siempre con propósitos de marqueting
                                digital.</p>
                            <h4>¿Qué logramos?</h4>
                            <ul>
                                <li><i class="fas fa-check-circle"></i> Contenido escrito para la web.</li>
                                <li><i class="fas fa-check-circle"></i> Escritura de blog para sitios web.</li>
                                <li><i class="fas fa-check-circle"></i> Contenido para las redes sociales.</li>

                            </ul>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</section>

<!-- Sección de PortaFolio -->
<section class="portfolio section" id="portfolio">
    <div class="container flex-center">
        <h1 class="section-title-01">Portafolio</h1>
        <h2 class="section-title-02">Portafolio</h2>
        <div class="content">
            <div class="portfolio-list">
                {% for p in portfolio %}
                {% if p.es_activo %}
                <div class="img-card-container">


                    <div class="img-card">
                        <div class="overlay"></div>
                        <div class="info">
                            <h3>Diseño Web</h3>
                            <span>{{ p.descripcion }}</span>
                        </div>
                        <img src="{{ p.imagen.url }}" alt="Portafolio">
                    </div>
                    <div class="portfolio-model flex-center">
                        <div class="portfolio-model-body">
                            <i class="fas fa-times portfolio-close-btn"></i>
                            <h3>Diseño WEB</h3>
                            <img src="{{ p.imagen.url }}" alt="Portafolio">
                            <p>{{ p.texto }}</p>
                        </div>
                    </div>


                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Subsección Con un toque -->
    <div class="get-in-touch subsection">
        <div class="container">
            <div class="content flex-center">
                <div class="contact-card flex-center">

                    <div class="title">
                        <h4>Hablemos</h4>
                        <h3>Sobre nuestro</h3>
                        <h2>próximo proyecto</h2>
                    </div>
                    <div class="contact-btn">
                        <a href="{% url 'blog:contacto' %}" class="btn">A solo un click <i
                                class="fas fa-paper-plane"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Certificados -->
    <!-- Podría poner aquí algunos certificados -->
    <div class="our-client sub-section">
        <div class="container flex-center">
            <h1 class="section-title-01">Algunos cursos</h1>
            <h2 class="section-title-02">Algunos cursos</h2>
            <div class="content">
                <div class="swiper client-swiper">
                    <div class="swiper-wrapper">
                        {% for c in certificados %}
                        {% if c.es_activo %}
                        <div class="swiper-slide flex-center">
                            <div class="client-img"> <!-- Imágenes de certificados -->
                                <img src="{{ c.imagen.url }}"
                                     alt="certificado">
                            </div>
                            <div class="client-details">
                                <p>{{ c.descripcion }}</p>

                            </div>
                        </div>

                        {% endif %}
                        {% endfor %}


                    </div>
                    <div class="swiper-button-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>


            </div>
        </div>
    </div>
</section>
{% endblock %}