   {% load static %}
    <!-- Sección de PortaFolio -->
    <section class="portfolio section" id="portfolio">
        <div class="container flex-center">
            <h1 class="section-title-01">Portafolio</h1>
            <h2 class="section-title-02">Portafolio</h2>
            <div class="content">
                <div class="portfolio-list">
                    <div class="img-card-container">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Diseño Web</h3>
                                <span>Youtube</span>
                            </div>
                            <img src="imagenes/estudio_creat.png" alt="imagen1">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Diseño WEB</h3>
                                <img src="imagenes/estudio_creat.png" alt="imagen2">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae, est iste eos perspiciatis tempora deleniti ipsa molestiae ipsam veritatis eveniet nisi optio exercitationem maxime iusto aspernatur aliquam dolor tempore?</p>
                            </div>
                        </div>
                    </div>

                    <div class="img-card-container">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Diseño Web</h3>
                                <span>Youtube</span>
                            </div>
                            <img src="imagenes/2022-03-27.png" alt="imagen1">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Diseño WEB</h3>
                                <img src="imagenes/2022-03-27.png" alt="imagen2">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae, est iste eos perspiciatis tempora deleniti ipsa molestiae ipsam veritatis eveniet nisi optio exercitationem maxime iusto aspernatur aliquam dolor tempore?</p>
                            </div>
                        </div>
                    </div>

                    <div class="img-card-container">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Diseño Web</h3>
                                <span>Youtube</span>
                            </div>
                            <img src="imagenes/jaguarete.png" alt="imagen1">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Diseño WEB</h3>
                                <img src="imagenes/jaguarete.png" alt="imagen2">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae, est iste eos perspiciatis tempora deleniti ipsa molestiae ipsam veritatis eveniet nisi optio exercitationem maxime iusto aspernatur aliquam dolor tempore?</p>
                            </div>
                        </div>
                    </div>

                    <div class="img-card-container">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Diseño Web</h3>
                                <span>Youtube</span>
                            </div>
                            <img src="imagenes/estudio_creat.png" alt="imagen1">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Diseño WEB</h3>
                                <img src="imagenes/estudio_creat.png" alt="imagen2">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae, est iste eos perspiciatis tempora deleniti ipsa molestiae ipsam veritatis eveniet nisi optio exercitationem maxime iusto aspernatur aliquam dolor tempore?</p>
                            </div>
                        </div>
                    </div>

                    <div class="img-card-container">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Diseño Web</h3>
                                <span>Youtube</span>
                            </div>
                            <img src="imagenes/estudio_creat.png" alt="imagen1">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Diseño WEB</h3>
                                <img src="imagenes/estudio_creat.png" alt="imagen2">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae, est iste eos perspiciatis tempora deleniti ipsa molestiae ipsam veritatis eveniet nisi optio exercitationem maxime iusto aspernatur aliquam dolor tempore?</p>
                            </div>
                        </div>
                    </div>

                    <div class="img-card-container">
                        <div class="img-card">
                            <div class="overlay"></div>
                            <div class="info">
                                <h3>Diseño Web</h3>
                                <span>Youtube</span>
                            </div>
                            <img src="imagenes/estudio_creat.png" alt="imagen1">
                        </div>
                        <div class="portfolio-model flex-center">
                            <div class="portfolio-model-body">
                                <i class="fas fa-times portfolio-close-btn"></i>
                                <h3>Diseño WEB</h3>
                                <img src="imagenes/estudio_creat.png" alt="imagen2">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae, est iste eos perspiciatis tempora deleniti ipsa molestiae ipsam veritatis eveniet nisi optio exercitationem maxime iusto aspernatur aliquam dolor tempore?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subsección Con un toque -->
        <div class="get-in-touch subsection">
            <div class="container">
                <div class="content flex-center">
                    <div class="contact-card flex-center">

                        <div class="title">
                            <h4>Hablemos</h4>
                            <h3>Sobre su</h3>
                            <h2>próximo proyecto</h2>
                        </div>
                        <div class="contact-btn">
                            <a href="#contact" class="btn">A solo un click <i class="fas fa-paper-plane"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>