/* Abel font-family */

@font-face {
  font-family: Abel;
  src: url("../fuentes/Abel/Abel-Regular.1052d6ca3993.ttf");
}

/* Anton font-family */

@font-face {
  font-family: Anton;
  src: url("../fuentes/Anton/Anton-Regular.7777f7f3f519.ttf");
}

/* Josefine font-family */

@font-face {
  font-family: Josefin;
  src: url("../fuentes/Josefin_Sans/static/JosefinSans-Regular.6762afeccd02.ttf");
}

/* Lexend font-family */

@font-face {
  font-family: Lexend;
  src: url("../fuentes/Lexend_Deca/LexendDeca-Regular.f78ad41ff7c2.ttf");
}

/* Livvic font-family */

@font-face {
  font-family: Livvic;
  src: url("../fuentes/Livvic/Livvic-Regular.686d9685b805.ttf");
}
