{% load blog_tags %}
{% load static %}

<aside class="sidebar">
    <div class="category">
        <h2 data-aos="fade-left" data-aos-delay="100">Temas</h2>
        <ul class="category-list">
            <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                <a href="#">NLP</a>
                <span>(05)</span>
            </li>
            <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                <a href="#">Deep Learning</a>
                <span>(05)</span>
            </li>
            <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                <a href="#">Machine Learning</a>
                <span>(05)</span>
            </li>
            <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                <a href="#">Algoritmos</a>
                <span>(05)</span>
            </li>
            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                <a href="#">Programación</a>
                <span>(05)</span>
            </li>
        </ul>
    </div>


    <!-- Esta es la parte para colocar los posts mas recientes -->
<!--
    <h2>Mi blog</h2>
    <p>Este es mi blog. He escrito {% total_posts %} posts hasta ahora</p>
    -->

    <div class="popular-post">
        <h2 data-aos="fade-left" data-aos-delay="100">Más recientes</h2>

        {% mostrar_ultimos_posts 5 %}

    </div>

    <div class="popular-tags">
        <h2 data-aos="fade-left" data-aos-delay="100">Tags Populares</h2>
        <div class="tags flex-row">
            <span class="tag" data-aos="flip-up" data-aos-delay="100">Algoritmos</span>
            <span class="tag" data-aos="flip-up" data-aos-delay="200">Tecnología</span>
            <span class="tag" data-aos="flip-up" data-aos-delay="300">NLP</span>
            <span class="tag" data-aos="flip-up" data-aos-delay="400">Inteligencia</span>
            <span class="tag" data-aos="flip-up" data-aos-delay="500">Linguistica</span>
            <span class="tag" data-aos="flip-up" data-aos-delay="600">Machine Learning</span>
            <span class="tag" data-aos="flip-up" data-aos-delay="700">Forecasting</span>

        </div>
        {% include "blog/suscribir.html" %}
    </div>


</aside>