{% load static %}

<!-- Pie de página -->
<footer class="footer" id="footer">
    <div class="contenedor">
        <div class="sobre-nos" data-aos="fade-right" data-aos-delay="200">
            <h2>Sobre nosotros</h2>
            <a href="{% url 'main:home' %}">
                <button class="btn post-btn">¿Quiénes somos...?&nbsp;<i class="fas fa-arrow-right"></i></button>
            </a>
        </div>
        <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
            <h2>Newsletter</h2>
            <p>Si estás interesado puedes escribirnos:</p>
            <a href="{% url 'blog:contacto' %}">
                <button class="btn post-btn">Escribir&nbsp;<i class="fas fa-arrow-right"></i></button>
            </a>

        </div>
        <div class="instagram" data-aos="fade-left" data-aos-delay="200">
            <h2>Algunos Posts</h2>

            {% for post in posts %}
            <div class="flex-row">
                <img class="img" src="{{ post.imagen_referencial.url }}" alt="imagen">
            </div>
            {% endfor %}

        </div>
        <div class="follow" data-aos="fade-left" data-aos-delay="200">
            <h2>Seguir</h2>
            <p>Redes sociales</p>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <h4 class="text-gray">
            &copy; 2021 Realizado por Rubén Guerra
            <!--
            <a href="#" target="_black">
                <i class="fab fa-youtube"></i>
                Channel
            </a> -->
        </h4>
    </div>
    <div class="subir">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
</footer>

<!-- Pie de página -->
