{% extends 'base.html' %}

{% load blog_tags %}
{% load static %}


{% block contenido %}
<!-- Titulo -->
<!-- Sección de nota principal >
<section class="site-title">
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">
        <img src="{{ principal.categoria.imagen_referencial.url }}" alt="imagen-categoria">

        <div class="contenedor">

            <h3>{{ principal.categoria | upper }}</h3>
            <a href="{{ principal.get_absolute_url }}"><h1>{{ principal.titulo }}</h1></a>
            <button class="btn"><a href="{{ principal.get_absolute_url }}">Aprendamos Juntos...</a></button>

        </div>
    </div>
</section>
 Titulo -->

<section class="showcase" data-aos="fade-up" data-aos-delay="100" style="position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 2.5em;
  display: flex;
  margin: auto;
  align-items: center; /*Centra el texto en la pagina*/
  background: #111;
  color: #fff;
  z-index: 2;">

<img src="{{ principal.categoria.imagen_referencial.url }}" alt="imagen-categoria" style="  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;">
            <div class="contenedor"></div>
            <div class="texto" style="  position: relative;
  padding-right: 3rem;
  z-index: 10;">
                <h3 style="  font-size: 1.5em;
  font-weight: 400;
  line-height: 1em;
  padding-right: 1em;
  text-shadow: 0.1rem 0.1rem #333;">{{ principal.categoria | upper }}</h3>
                <h1 style="  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  text-shadow: 0.1rem 0.1rem #111">{{ principal.titulo }}</h1>
                <p style="  font-size: 1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  color: white;">{{ principal.descripcion | truncatewords_html:30 }}</p>
                <button class="btn" style="margin: 0.2rem;
  background: var(--sky);"><a style="  display: inline-block;
  font-size: 1em;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 1px;" href="{{ principal.get_absolute_url }}">Leer mas...</a></button>
            </div>

</section>


<!-- Sección carrusel -->

{% get_posts_mas_comentados 5 %}

<!-- Fin Sección carrusel -->


<!-- Contenido-------------------->

<section class="contenedor">
    <div class="site-content">
        <div class="posts">
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div class="post-image">
                    <div>
                        <img class="img" src="{{ post1.imagen_referencial.url }}" alt="post1">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{ post1.autor.nombre }}</span>
                        <span><i
                                class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post1.fecha_publicacion }}</span>
                        <span>{{ post1.comentario}}</span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="{{ post1.get_absolute_url }}">{{ post1.titulo }}</a>
                    <p>{{ post1.descripcion }}</p>
                    <a href="{{ post1.get_absolute_url }}">
                        <button class="btn post-btn">Leer más...&nbsp;<i class="fas fa-arrow-right"></i></button>
                    </a>
                    <hr>
                </div>

            </div>

            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div class="post-image">
                    <div>
                        <img class="img" src="{{ post2.imagen_referencial.url }}" alt="post2">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{ post2.autor.nombre }}</span>
                        <span><i
                                class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post2.fecha_publicacion }}</span>
                        <span>{{ post2.comentario }}</span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="{{ post2.get_absolute_url }}">{{ post2.titulo }}</a>
                    <p>{{ post2.descripcion }}</p>
                    <a href="{{ post2.get_absolute_url }}">
                        <button class="btn post-btn">Leer más...&nbsp;<i class="fas fa-arrow-right"></i></button>
                    </a>
                    <hr>
                </div>

            </div>

            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div class="post-image">
                    <div>
                        <img class="img" src="{{ post3.imagen_referencial.url }}" alt="post3">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{ post3.autor.nombre }}</span>
                        <span><i
                                class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post3.fecha_publicacion }}</span>
                        <span>{{ post3.comentario }}</span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="{{ post3.get_absolute_url }}">{{ post3.titulo }}</a>
                    <p>{{ post3.descripcion }}</p>
                    <a href="{{ post3.get_absolute_url }}">
                        <button class="btn post-btn">Leer más...&nbsp;<i class="fas fa-arrow-right"></i></button>
                    </a>
                    <hr>
                </div>

            </div>

            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div class="post-image">
                    <div>
                        <img class="img" src="{{ post4.imagen_referencial.url }}" alt="post4">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{ post4.autor.nombre }}</span>
                        <span><i
                                class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post4.fecha_publicacion }}</span>
                        <span>{{ post4.comentario }}</span>
                    </div>
                </div>

                <div class="post-title">
                    <a href="{{ post4.get_absolute_url }}">{{ post4.titulo }}</a>
                    <p>{{ post4.descripcion }}</p>
                    <a href="{{ post4.get_absolute_url }}">
                        <button class="btn post-btn">Leer más...&nbsp;<i class="fas fa-arrow-right"></i></button>
                    </a>

                </div>

            </div>

        </div>

        {% include "blog/aside.html" %}

    </div>
</section>

<!-- Contenido         -->

{% endblock  %}