
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:ital,wght@0,400;0,500;1,300;1,400&family=Lexend:wght@200;300;400;500;600&family=Livvic:ital,wght@0,200;0,400;0,500;1,300;1,400&display=swap');

html,
body {
  /* margin: 0%;
  box-sizing: border-box; */
  overflow-x: hidden;
}

:root {
  /* colores */
  --text-gray: #3f4954;
  --text-light: #0e2431;
  --bg-color: #0f0f0f;
  --white: #fff;
  --midnight: #104f55;

  /* Degradados */
  --sky: linear-gradient(25deg, #a1c4fd 0%, #c2e9fb 80%);

  /* Fuentes */
  --Abel: 'Abel', sans-serif;
  --Anton: 'Anton', sans-serif;
  --Josefin: 'Josefin Sans', sans-serif;
  --Lexend: 'Lexend', sans-serif;
  --Livvic: 'Livvic', sans-serif;

}

/* Clases globales */
a {
  text-decoration: none;
  color: var(--text-gray);
  font-size: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Josefin);
  font-size: 2.6rem;
}

h2 {
  font-family: var(--Lexend);
}

h3 {
  font-family: var(--Abel);
  font-size: 1.5rem;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Livvic);
  cursor: pointer;
}

span {
  font-family: var(--Abel);
}

.contenedor {
  margin: 0 5vw;
  font-size: 15px;
}

.text-gray {
  color: var(--text-gray);
}

p {
  font-family: var(--Lexend);
  color: var(--text-light);
}

section {
  margin-bottom: 0.8rem;
}
/* Clases globales */

/* Estilo de la barra de navegación */

.nav {
  background: var(--sky);
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 95%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0rem;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray);
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.collapse {
  height: 30rem;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
}

.nav .nav-items .nav-link:hover {
  background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--Lexend);
}

.nav .social {
  padding: 1.4rem 0;
}

.nav .social i {
  padding: 0 0.3rem;
}

.nav .social i:hover {
  color: #a1c4cf;
}
/* Estilo de la barra de navegación */

/* Contenido principal */
/* Titulo */
main .site-title .site-background img {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 110vw;
  /* width: 100%; */
  height: 100hv;
  color: #fff;
  padding-top: 0rem;
}

main .site-title .contenedor {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
}

main .site-title h1,
h3 {
  color: #fff;
  margin: 0.3rem;
  /* font-size: 2em; */
  /* margin: 0.1rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem; */
  text-shadow: 0.1rem 0.1rem #333;
}

main .site-title .btn {
  margin: 0.2rem;
  background: var(--sky);
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/* main .site-title h3 {
  color: #fff;
  text-shadow: 0.1em 0.1em #333;
} */

/* main .site-title a {
  background: transparent;
  border: none;
  color: var(--sky);
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-family: var(--Josefin);
} */

/* main .site-title a:hover {
  background: #559be6;
  color: white;
  border: white;
} */


/* Sección del carrusel blog */
/*
main .blog {

  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: 100%; /*Puse color al fondo
}
/*
main .blog:before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background: linear-gradient(90deg, white, white);
  opacity: 0.5;
} */

main .blog .blog-post {
  padding-top: 4.5rem;
}

main .blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title {
  padding: 2rem 0;
}

main .blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: var(--sky);
  margin: 0.5rem;
}

main .blog-content span {
  display: block;
}

section .contenedor .owl-nav {
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: var(--text-gray);
  background: transparent;
  font-size: 2rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: var(--midnight);
}

.owl-theme .owl-nav [class*="owl-"] {
  outline: none;
}
/* Seccion del carusel blog */

/* Seccion Contenido */

main .site-content {
  display: grid;
  grid-template-columns: 70% 30%;
}

main .post-content {
  width: 100%;
}

main .site-content .post-content > .post-image,
.post-title {
  padding: 1rem 2rem;
  position: relative;
}

main .site-content .post-content > .post-image .post-info {
  background: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 20vw;
  border-radius: 3rem;
}

main .site-content .post-content > .post-image > div {
  overflow: hidden;
}

main .site-content .post-content > .post-image .img {
  width: 100%;
  transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover {
  transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span {
  margin: 0 0.5rem;
}

main .post-content .post-title a {
  font-family: var(--Anton);
  font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn {
  border-radius: 0;
  padding: 0.7rem 1.5rem;
  background: var(--sky);
}

.site-content .pagination {
  justify-content: center;
  color: var(--text-gray);
  margin: 4rem 0;
}

.site-content .pagination a {
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0 0.3rem;
  font-family: var(--Lexend);
}

.site-content .pagination .pages {
  background: var(--text-gray);
  color: var(--white);
}

/* Sidebar */

.site-content > .sidebar .category-list {
  font-family: var(--Livvic);
}

.site-content > .sidebar .category-list .list-items {
  background: var(--sky);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.site-content > .sidebar .category-list .list-items a {
  color: black;
}

.site-content .sidebar .popular-post .post-content {
  padding: 1rem 0;
}

.site-content .sidebar .popular-post h2 {
  padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info {
  padding: 0.4rem 0.1rem !important;
  bottom: 0rem !important;
  left: 1.5rem !important;
  border-radius: 0rem !important;
  background: white !important;
}

.site-content .sidebar .popular-post .post-title a {
  font-size: 1rem;
}

.site-content .sidebar .newsletter {
  padding-top: 10rem;
}

.site-content .sidebar .newsletter .form-element {
  padding: 0.5rem 2rem;
}

.site-content .sidebar .newsletter .input-element {
  width: 82%;
  height: 1.9rem;
  padding: 0.3rem 0.5rem;
  font-family: var(--Lexend);
  font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn {
  border-radius: 0;
  width: 87%;
  padding: 0.8rem 32%;
  margin: 1rem 0;
  background: var(--sky);
}

.site-content .sidebar .popular-tags {
  padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag {
  background: var(--sky);
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}

/* Sidebar */
/* Seccion Contenido */
/* Fin contenido principal */

/* Pie de pagina */
footer.footer {
  height: 100%;
  background: var(--bg-color);
  position: relative;
}

footer.footer .contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer.footer .contenedor > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem 0.9rem;
}

footer.footer .contenedor h2 {
  color: var(--white);
}

footer.footer .newsletter .form-element {
  background: black;
  display: inline-block;
}

footer.footer .newsletter .form-element input {
  padding: 0.5rem 0.7rem;
  border: none;
  background: transparent;
  color: white;
  font-family: var(--Josefin);
  font-size: 1rem;
  width: 74%;
}

footer.footer .newsletter .form-element span {
  background: var(--sky);
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

footer.footer .instagram div > img {
  display: inline-block;
  width: 25%;
  height: 50%;
  margin: 0.3rem 0.4rem;
}

footer.footer .follow div i {
  color: var(--white);
  padding: 0 0.4rem;
}

footer.footer .rights {
  justify-content: center;
  font-family: var(--Josefin);
}

footer.footer .rights h4 a {
  color: var(--white);
}

footer.footer .subir {
  position: absolute;
  right: 6%;
  top: 50%;
}

footer.footer .subir span {
  color: var(--midnight);
}

footer.footer .subir span:hover {
  color: var(--white);
  cursor: pointer;
}

/* Pie de pagina */

/* Vista menor o igual a 1130px */

@media only screen and (max-width: 1130px) {
  .site-content .post-content > .post-image .post-info {
    left: 2rem !important;
    bottom: 1.2rem !important;
    border-radius: 0% !important;
  }

  .site-content .sidebar .popular-post .post-info {
    display: none !important;
  }

  footer.footer .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Vista menor o igual a 1130px */

/* Vista menos o igual a 750px */
@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }
  main .site-content {
    grid-template-columns: 100%;
  }

  footer.footer .contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Vista menos o igual a 750px */

/* Vista menos o igual a 520px */

@media only screen and (max-width: 520px) {
  main .blog {
    height: 100vh;
  }

  .site-content .post-content > .post-image .post-info {
    display: none;
  }

  footer.footer .contenedor > div {
    padding: 1rem 0.9rem !important;
  }

  footer .rights {
    padding: 0 1.4rem;
    text-align: center;
  }

  nav .toggle-collapse {
    width: 80% !important;
  }
}

/* Vista menos o igual a 520px */
